'scopeName': 'source.keystone-model'
'name': 'Keystone Model'
'fileTypes': ['km']
'patterns': [
  {
    'begin': '(system|component|interface) +([^ ]+) +is'
    'beginCaptures':
      '2':
        'name': 'meta.class.keystone'
    'end': 'end +([^ ]+);'
    'endCaptures':
      '1':
        'name': 'meta.class.keystone'
    'name': 'keyword.definition.start-block.keystone'
    'patterns': [
      {
        'match': 'connect +([^ ]+) +to +([^ ]+) +via +([^ ]+);'
        'captures':
          '1':
            'name': 'variable.keystone'
          '2':
            'name': 'variable.keystone'
          '3':
            'name': 'meta.class.keystone'
        'name': 'keyword.control.keystone'
      }
      {
        'match': '(fulfill|require) +([^ ]+);'
        'captures':
          '2':
            'name': 'meta.class.keystone'
        'name': 'keyword.definition.keystone'
      }
      {
        'match': '([^ ]+): ([^ ]+);'
        'captures':
          '1':
            'name': 'variable.definition.keystone'
          '2':
            'name': 'meta.class.keystone'
      }
      {
        'include': '#comments'
      }
    ]
  }
  {
    'include': '#comments'
  }
]
'repository':
  'comments': {
    'match': '--[^\\n]*'
    'name': 'comment.leading.keystone'
  }
