@import "syntax-variables";
@import "ui-variables";
#keystone-main {
  margin: 20px;
}

.keystone.dsm {
  border: 1px solid @background-color-highlight;
  border-collapse: collapse;
  text-align: center;
  margin: 10px 5px;

  .dsm-row-label, .dsm-row-number, .dsm-up-button, .dsm-down-button, .dsm-header {
    background-color: @background-color-highlight;
  }

  .dsm-row-label {
    text-align: right;
  }

  .dsm-row-number {
    font-weight: bold;
  }

  .dsm-self-link {
    color: @text-color-subtle;
  }

  .dsm-dep-link {
    background-color: @background-color-info;
  }

  td, th {
    text-align: center;
    border: 1px solid @background-color-highlight;
    padding: 5px;
    min-width: 30px;
  }
}
